#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(9, 105, 218);
} 

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}

p,span, a, li, div  {
  font-family: 'Roboto', sans-serif;
}
.navbar{
 
  display: flex;
  justify-content: space-between;
align-items: center;
  width: 1000px;
  height: 100px;
}
.logo img{
  width: 150px;
}
.hamburger img{
  width: 50px;
}